.background {
  position: relative;
  min-height: 100vh;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/splashbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7ba01b9;
  opacity: 0.7;
}

.header {
  z-index: 3;
  font-size: 75px;
  letter-spacing: 1px;
  margin: 80px 0 100px;
}

.btncontainer {
  z-index: 1;
  margin: 80px 0 200px;
}

@media screen and (max-width: 768px) {
  .splashbackground {
    margin-left: 0;
  }

  .header {
    font-size: 50px;
  }
}
